/*Haciendo uso de las variables de CSS*/
:root{
    --Tea-green : #C5EFCB;
    --Black: #020402;
    --reseda-green: #758173;
    --celadon: #A9C5A0;
    --tea-green-dark: #C6DEC6;
    --dark-blue: darkblue;
}