#example0{
    background-color: rgba(255, 127, 80,40%);
    opacity: 0.4;
}

#example1{
    background-color: rgba(255, 127, 80,40%);
}

#example-dos{
    background-color: rgb(255, 127, 80);
}

#example-dos{
    background-color: rgb(255, 127, 80);
}

#example-image{
    background-image: url("../img/bg.jpg");
}

body{
    background-image: url("../img/bg2.jpg");
}